# === 核心切片引擎 ===
# 不使用 0.8.0，因為 Mac 安裝時會拉 onnxruntime-gpu
inaSpeechSegmenter<0.8.0

# TensorFlow 2.12.x 可以搭配 Python 3.10
tensorflow==2.12.1
numpy==1.24.3

# === 進度條顯示 ===
tqdm

# === 識曲與改名 ===
shazamio
aiohttp

# === pyannote 相容性限制 ===
pyannote.core<6.0.0
pyannote.algorithms
